# Python
*.pyc
*.pyo
*.pyd
__pycache__/
*.pyd
*.db
*.sqlite3

# Virtual environment
venv/
.env/
.venv/
env/
env.bak/
venv.bak/
todo-env

# FastAPI specific
*.log

# IDEs and Editors
.vscode/
.idea/
*.suo
*.ntvs_analysis.dat
*.ncb
*.swp
*.swo

# Jupyter Notebook
.ipynb_checkpoints/

# MyPy
.mypy_cache/

# Pytest
.cache/
*.cover

# Coverage
.coverage
coverage.xml
*.cover
*.py,cover
nosetests.xml
test_*.xml
